<html>
    <head>
        <title>Envio de correo programado.</title>
    </head>
    <body>
        <h1>
            Un correo ha sido enviado.
        </h1>
        <p>
            Para enviar el correo se usó @ViewBag.Sender
        </p>
        <p>
            <a href="http://facebook.com/DotNetEspanol">Facebook</a> |
            <a href="http://github.com/DotNetEspanol">Github</a>
        </p>
    </body>
</html>